In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import pprint
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
df = pd.read_csv('logisticRegressionDataset.csv')

In [3]:
df.head()

   Age  Monthly_Spend  Session_Duration_Minutes Region Subscription
0   45         120.50                        65  North          Yes
1   32          55.20                        30  South           No
2   58         180.75                        95   East          Yes
3   25          45.00                        15   West           No
4   60         195.00                       110  North          Yes

In [4]:
df.isnull().sum()

Age                         0
Monthly_Spend               0
Session_Duration_Minutes    0
Region                      0
Subscription                0
dtype: int64

In [5]:
df.dtypes

Age                           int64
Monthly_Spend               float64
Session_Duration_Minutes      int64
Region                       object
Subscription                 object
dtype: object